body {
    background-color: #03A9F4;
    margin: 0px;
    font-family: 'Roboto Condensed', sans-serif;
}
h1, h2, h3, h4, h5, h6{
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
}
h1{
    font-size: 5vh;
}
p {
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 2vh;
}
section {
    position: relative;
    background: blue;
    color: #fff;
    text-align: center;
}
hr{
    color: white;
    display: block;
    -webkit-margin-before: 0.5em;
    -webkit-margin-after: 0.5em;
    -webkit-margin-start: auto;
    -webkit-margin-end: auto;
    border-style: dashed;
    border-width: 1px;
}
header{
    z-index: 10;
    background-color: #006c96;
    padding: 4em;  
    overflow: auto;
    overflow-x: hidden;
    overflow-y: hidden;      
}
header:before {
    -webkit-transform: rotate(-3deg);
    transform: rotate(-3deg);
    -webkit-transform-origin: 3% 0;
    transform-origin: 3% 0;
    top: 0;
    left: -0.6%;
    z-index: 1;
    width: 60%;
    height: 90%;
    background: inherit;
    position: fixed;
}
section:before {
    position: absolute;
    content:'';
}
.headItem{
    color: #fff;
}
footer {
    position: relative;
    background: #006c96;
    color: #fff;
    text-align: center;
    font-size: 2vh;
}

.breadcrumb{
    background-color: #014865;
    margin-top: 3vh;
}

footer.diagonal {
    background: 304FFE;
}
.diagonal {
    z-index: 1;
    padding: 4em;
}

.diagonal:before {
    -webkit-transform: rotate(-3deg);
    transform: rotate(-3deg);
    -webkit-transform-origin: 3% 0;
    transform-origin: 3% 0;
    top: 0;
    left: -0.6%;
    z-index: -1;
    width: 60%;
    height: 90%;
    background: inherit;
}
.sobre{
    background: #0a5a7b;
    text-align: justify;
    overflow: auto;
    /*overflow-x: hidden;
    overflow-y: hidden;*/
}

.area{
    padding-left: 0px; 
    padding-right: 0px; 
}
.especialidades{
    background: #014865;
    text-align: left;
    overflow: auto;
    overflow-x: hidden;
    overflow-y: hidden;
}
.portfolio{
    background: #011923;
}
.formacao{
    background: #012838;
    text-align: left;    
}
.contato{
    background: #00B0FF;
}
.listItens{
    width: 100%;
    text-align: center;
    margin: 0px auto;
}
.imageItem{
    width: 150px;
    float: left;
    margin: 2%;
}
.imgIt{
    width: 120px;
}
.descItem{
    width: 100%;
    text-align: left;
}
.txtItem{
    color: white;
}
.formacaoItem{
    color: white;
}
label{
    text-align: left;
    font-size: 3vh;
}
input[type=text], input[type=email], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 3vh;
}

.btn-project{
    width: auto;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 2vh;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.contact{
    text-align: left;
    width: 50%;
    margin: 0px auto;
}
.icon-net{
    color: whitesmoke;
    margin-top: 1%;
    margin-right: 1%;
}
.backToTop{
    color: white;
}
.titleItem{
    text-align: center;
}
.iconPort{
    padding-right: 0.4%;
}
.backToTop:hover{
    color: #e67e22;
}
.fa-github:hover{
    color: #8e44ad;
}
.fa-facebook:hover{
    color: #3498db;
}
.fa-youtube:hover{
    color: #e74c3c;
}
.btn{
    margin: 1vh;
}